[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
mysqlclient = "*"
django = "*"
dj-database-url = "*"
python-dotenv = "*"
gunicorn = "*"
django-crispy-forms = "*"
crispy-bootstrap5 = "*"
waitress = "*"
pillow = "*"
psycopg2-binary = "*"

[dev-packages]

[requires]
python_version = "3.13"
