{% extends "blog/base.html" %}
{% comment %} {% load crispy_forms_tags %} {% endcomment %}
{% block content %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6 col-sm-8">
                <div>
                    <h4 class="mb-0 form-title ">Create Post</h4>
                </div>
                <div class="card-body">
                    <form method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        {{ form }}
                        <div class="d-grid">
                            <button type="submit"
                                    class="border-0 bg-accent-primary-custom border-radius-12 text-white">
                                Publish Post
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
