{% extends "blog/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="col-md-6 offset-md-3">
        <div class="card shadow-sm p-4 rounded bg-transparent">
            <h2 class="mb-0 form-title ">Login</h2>
            <form method="POST">
                {% csrf_token %}
                {{ form|crispy }}
                <!-- Forget password link -->
                <div class="mb-2">
                    <a href="{% url 'password_reset' %}" class="text-decoration-none">Forgot your password?</a>
                </div>
                <div class="d-grid">
                    <button type="submit"
                            class="border-0 bg-accent-primary-custom border-radius-12 text-white">Log In</button>
                </div>
            </form>
            <hr>
            <div class="text-center">
                <small class="text-muted">
                    Don't have an account? <a href="{% url 'user-register' %}">Sign up</a>
                </small>
            </div>
        </div>
    </div>
{% endblock %}
